
    <div id="user-account">
      <table id="user-table" class="alltr">
        <tr class="ui-widget-header">
          <th style="width:150px";>客號</th>
          <th style="width:150px";>姓名<span class="modify" style="color: red;">*</span></th>
          <th style="width:150px";>性別<span class="modify" style="color: red;">*</span></th>
          <th style="width:150px";>餘額</th>
        </tr>
        <tr>
          <td><input size="12" readonly/></td>
          <td><input size="12"/></td>
          <td><input size="12"/></td>
          <td ROWSPAN="7"><input size="12"/></td>
        </tr>
        <tr class="ui-widget-header">
          <th>電話</th><th>手機</th><th>折扣</th>
        </tr>
        <tr>
          <td><input size="12"/></td>
          <td><input size="12"/></td>
          <td><input size="12"/></td>
        </tr>
        <tr class="ui-widget-header">
          <th COLSPAN="3">地址</th>
        </tr>
        <tr>
          <td COLSPAN="3"><input size="45"/></td>
        </tr>
        <tr class="ui-widget-header">
          <th COLSPAN="3">備註</th>
        </tr>
        <tr>
          <td COLSPAN="3"><input size="45"/></td>
        </tr>
      </table>
    </div>
    