
  <div id="tabs-1">
    <div id="search_result">
      <table id="matrix" class="alltr">
        <tr class="ui-widget-header">
          <th style="width: 50px;">客號</th>
          <th style="width:100px;">姓名</th>
          <th style="width: 50px;">性別</th>
          <th style="width:100px;">電話</th>
          <th style="width:150px;">手機</th>
          <th style="width:200px;">地址</th>
          <th style="width:200px;">備註</th>
        </tr>
        <tr><td>　</td><td>　</td><td>　</td><td>　</td><td>　</td><td>　</td><td>　</td></tr>
        <tr><td>　</td><td>　</td><td>　</td><td>　</td><td>　</td><td>　</td><td>　</td></tr>
        <tr><td>　</td><td>　</td><td>　</td><td>　</td><td>　</td><td>　</td><td>　</td></tr>
        <tr><td>　</td><td>　</td><td>　</td><td>　</td><td>　</td><td>　</td><td>　</td></tr>
        <tr><td>　</td><td>　</td><td>　</td><td>　</td><td>　</td><td>　</td><td>　</td></tr>
        <tr><td>　</td><td>　</td><td>　</td><td>　</td><td>　</td><td>　</td><td>　</td></tr>
        <tr><td>　</td><td>　</td><td>　</td><td>　</td><td>　</td><td>　</td><td>　</td></tr>
        <tr><td>　</td><td>　</td><td>　</td><td>　</td><td>　</td><td>　</td><td>　</td></tr>
        <tr><td>　</td><td>　</td><td>　</td><td>　</td><td>　</td><td>　</td><td>　</td></tr>
        <tr><td>　</td><td>　</td><td>　</td><td>　</td><td>　</td><td>　</td><td>　</td></tr>
      </table>
    </div>
    <div id="radio">
      <p>
        <input type="radio" name="radio" value="1"/>                    <label for="radio1">客號</label>
        <input type="radio" name="radio" value="2"/>                    <label for="radio2">姓名</label>
        <input type="radio" name="radio" value="3" checked="checked" />	<label for="radio3">電話</label>
        <input type="radio" name="radio" value="4"/>                    <label for="radio4">單號</label>
        <input type="radio" name="radio" value="5"/>                    <label for="radio5">洗號</label>
        <input type="radio" name="radio" value="6"/>                    <label for="radio6">地址</label>
        <input type="radio" name="radio" value="7"/>                    <label for="radio7">備註</label>
      </p>
    </div>
    <div>
      <input type="text" id="search_box"/>
      <button class="btn" id="search_btn">確認</button>
      <button class="btn" id="search_initial_btn">初始化</button>
      <button class="btn" id="go_adduser_btn">新增客戶</button>
    </div>
  </div>