<%= render 'member' %>

<hr>
<p>
  <a href="<%= edit_member_path(@member) %>"><button type="button" class="btn btn-primary">客戶資料</button></a>
  <a href="/orders/new"><button type="button" class="btn btn-primary">收件</button></a>
  <a href="/orders/update"><button type="button" class="btn btn-primary">取件</button></a>
</p>

<%= render 'order_list' %>

<%= link_to 'Back', :back %>
