<ul class="nav nav-tabs" style="font-size: 18px;">
  <% if !user_signed_in? %>
    <li><%= link_to '登入', new_user_session_path %></li>
    <li><%= link_to '註冊', new_user_registration_path %></li>
  <% else %>
    <%= render 'layouts/navigation_links' %>
  <% end %>
</ul>