<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">首頁</a></li>
  <% if !user_signed_in? %>
    <li><%= link_to '登入', new_user_session_path %></li>
    <li><%= link_to '註冊', new_user_registration_path %></li>
  <% else %>
    <%= render 'layouts/navigation_links' %>
  <% end %>
</ul>